html, body {
  height: 100%;
}

#canvas {
  float:left;
  padding-top: 2rem;
}

#info {
  float: center;
  clear: left;
  display: flex;
  justify-content: center;
}

.jumbotron {
  padding-bottom: 2rem;
  background-color: #d8a48f;
}

.btn-secondary {
  background-color: #8b8f64;
}

p {
  margin: auto;
}

body {
  margin: 0;
  display: flex;
  background-color: #353C51;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}
