html, body {
  height: 100%;
}

#canvas {
  float:left;
}

#info {
  float: center;
  clear: left;
  display: flex;
  justify-content: center;
}

p {
  margin: auto;
}

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}
